@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


/* Scrollbar Styles */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #313b96;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #1e2a78;
}

*::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #313b96 #f1f1f1;
}
/* html {
    zoom: 0.9;
} */